
/*closing x */
.block-main > section .block-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.block-icon-close:before {
  content: "✕";
}

.block-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
}



/* Block Content */

.block-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.7em;
  line-height: 1.8;
}

.block-content > h1{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 3px solid #f2ede3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.block-content h2 {
  font-size: 3em;
  margin: 0 0 20px 0;
}

/*styling all the links*/
.block-content a {
  color: rgba(0,0,0,0.2);
}

.block-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 

.block-content > ul li {
  display: inline-block;
  width: 20%;
  margin: 1%;
}

.block-content > ul li a {
  display: block;
  padding: 0;
  border: 8px solid rgba(0,0,0,0.1);
}

.block-content > ul li a img {
  display: block;
  max-width: 100%;
}

