@font-face {
 font-family: 'icomoon';
 src:url('../fonts/icomoon.eot');
 src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
 url('../fonts/icomoon.woff') format('woff'),
 url('../fonts/icomoon.ttf') format('truetype'),
 url('../fonts/icomoon.svg#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}


/*body, html { 
  font-size: 100%; 
  padding: 0; 
  margin: 0; 
  height: 100%;
  position: relative;
}*/

/*border-box forces the padding and borders into the width and height instead of expanding it. *=universal selectors*/
/**,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/*body {
  font-style: normal;
  font-weight: 700;
  color: #f2ede3; 
  offwhite
  background: #333;
  line-height: 1.5;
  letter-spacing: 1px;
}
*/

/*.first-block h1{
  font-size: 4em;
  letter-spacing: 0.2px;
  margin: 0;
}*/

/*a {
  color: #f2ede3; 
  text-decoration: none;
}*/

/*.external-link{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
  margin-top: 1%;
  display: block;
}*/

/*a:hover {
  color: #fff;
}*/

/*.container { 
  height: 100%; 
}

.block-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}*/


/*> child combinator, only s the direct children, all of them position absoulute and half widht and height*/
/*.block-main > section {
  position: absolute;
  width: 50%;
  height: 50%;
}

.block-main > section:first-child {
  top: 0;
  left: 0;

  background: #C4C16B;
  /*yellow*/
/*}

.block-main > section:nth-child(2) {
  top: 0;
  left: 50%;
 background: #4F5C5B;
 /*grey*/
}

/*.block-main > section:nth-child(3) {
  top: 50%;
  left: 0;
  background: #3BBC95;
  /*blue*/
/*}

.block-main > section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: #DB7D55;
  /*orange*/
/*}*/

/*
.first-block {
	text-align: center;
	margin: 0;
	width: 100%;
	letter-spacing: 2px;
  position: relative;
  width: 100%;
  height: 100%;

  /* Centering with flexbox */
  /*display: -webkit-box;
  display: -moz-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
*/

  /*The flex items will wrap onto additional flex lines if there isn’t enough room for them on the first flex line.*/
  /*-webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
*/

  /*aligns flex items along the main axis of the current line of the flex container*/
 /* -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;*/


  /*aligns flex items along the cross axis of the current line of the flex container*/

 /* -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}*/

/*.bounce-in{
  -webkit-animation: bounceInDown 0.8s both cubic-bezier(.63,.09,.75,.46) 0.5s; 
  animation-duration: bounceInDown 0.8s both cubic-bezier(.63,.09,.75,.46)0.5s; 
}*/

/*.first-block h2{
  white-space: nowrap;
    overflow: hidden;
    width: 100%;
  -webkit-animation: typing 3.5s steps(13, end) 1.3s both;
  -o-animation: typing 3.5s steps(13, end) 1.3s both;
  animation: typing 3.5s steps(13, end) 1.3s both;

}*/


/*.block-on-top {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  /*makes the mouse cursor look like a pointer.*/
/*  cursor: pointer;*/
  /* Centering with flexbox */
  /*display: -webkit-box;
  display: -moz-box;


  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;*/


  /*The flex items will wrap onto additional flex lines if there isn’t enough room for them on the first flex line.*/
  /*-webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
*/



  /*aligns flex items along the main axis of the current line of the flex container*/
/*  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;*/


  /*aligns flex items along the cross axis of the current line of the flex container, here row and therefore y axis*/

/*  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}*/



/*stuff on top header and icons*/




/*closing x */
.block-main > section .block-icon-close {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: swingingArrow alternate-reverse ease-in-out 0.5s infinite both;
  -o-animation: swingingArrow alternate-reverse ease-in-out 0.5s infinite both;
  animation: swingingArrow alternate-reverse ease-in-out 0.5s infinite both;
}





/*/* Block Content */

/*.block-icon-close:before {
  content: "⇠";
}

.block-content{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;

 }




.block-content h1 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 2px solid #f2ede3;
  padding-bottom: 10px;
  margin: 10px 0 40px 0;
  font-size: 2.5em;
}*/

/*.block-content h4 {
  line-height: 1.8;
}*/



/*projects*/

.block-content > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 5% 0;

} 

.block-work-items{

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;


  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;


  /*stretch to fill the container, here, get same height everywhere. */
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;



}


.block-work-items > li {
  margin: 50px 0 0 0;
  width: 30%;
}

/*.block-work-items h3{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
}*/

.block-work-items > ul li img a {
  font-size: 1.1em;
  padding: 5%;
}


.block-content .img_portfolio {
  max-width: 100%;
  -webkit-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  filter: grayscale(60%);

}

.block-content > ul li img:hover {
  -webkit-filter: none;
  -o-filter: none;
  filter: none;
  }


.text-work{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  letter-spacing: 1.7;
  text-align: center;
}

/*profile page*/

.nina_pic{
  background: url("../images/nina_sprite.jpg") no-repeat center top;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.nina_pic:hover{
background: url("../images/nina_sprite.jpg") no-repeat center bottom;
border-radius: 0;
-webkit-transition: border-radius 0.1s ease-in-out;
-o-transition:border-radius 0.1s ease-in-out;
transition: border-radius 0.1s ease-in-out;
}

.links-about{
  margin-top: 2%;
}


/*contact page*/
.contact-items{
  text-align: center;
}

.contact-items > li {
  margin: 50px 0 0 0;
  width: 25%;
}


.icon-contact:before{
  font-family: Flaticon;
  font-style: normal;
  display: block;
  text-align: center;
 font-size: 6em;
  font-weight: 100;

}
.icon-email:before {
    content: "\e000";
    transform: translateY(0);
    transition: transform 0.2s ease;
}
.icon-email:hover:before{
  transform: translateY(-5px);
}

.icon-twitter:before {
    content: "\e005";
    transform: translateY(0);
    transition: transform 0.2s ease;
}

.icon-twitter:hover:before{
  transform: translateY(-5px);
}


.icon-linkedin:before {
   content: "\e004";
   transform: translateY(0);
   transition: transform 0.2s ease;
}

.icon-linkedin:hover:before{
  transform: translateY(-5px);
}

.icon-github:before {
    content: "\e003";
    transform: translateY(0);
    transition: transform 0.2s ease;

}
.icon-github:hover:before{
  transform: translateY(-5px);
}


/* Transition classes and properties */
/* Separated for a better overview and control */


/*animation*/

/*@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    40% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    50% { 
        -webkit-transform: translateY(-20px); 
    } 
      
    60% { 
        -webkit-transform: translateY(10px); 
    } 

    70% { 
        -webkit-transform: translateY(-10px); 
    } 

    80% { 
        -webkit-transform: translateY(5px); 
    } 

    90% { 
        -webkit-transform: translateY(-5px); 
    } 

    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@-moz-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    40% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    50% { 
        -webkit-transform: translateY(-20px); 
    } 
      
    60% { 
        -webkit-transform: translateY(10px); 
    } 

    70% { 
        -webkit-transform: translateY(-10px); 
    } 

    80% { 
        -webkit-transform: translateY(5px); 
    } 

    90% { 
        -webkit-transform: translateY(-5px); 
    } 

    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@-ms-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    40% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    50% { 
        -webkit-transform: translateY(-20px); 
    } 
      
    60% { 
        -webkit-transform: translateY(10px); 
    } 

    70% { 
        -webkit-transform: translateY(-10px); 
    } 

    80% { 
        -webkit-transform: translateY(5px); 
    } 

    90% { 
        -webkit-transform: translateY(-5px); 
    } 

    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@-o-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    40% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    50% { 
        -webkit-transform: translateY(-20px); 
    } 
      
    60% { 
        -webkit-transform: translateY(10px); 
    } 

    70% { 
        -webkit-transform: translateY(-10px); 
    } 

    80% { 
        -webkit-transform: translateY(5px); 
    } 

    90% { 
        -webkit-transform: translateY(-5px); 
    } 

    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    40% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    50% { 
        -webkit-transform: translateY(-20px); 
    } 
      
    60% { 
        -webkit-transform: translateY(10px); 
    } 

    70% { 
        -webkit-transform: translateY(-10px); 
    } 

    80% { 
        -webkit-transform: translateY(5px); 
    } 

    90% { 
        -webkit-transform: translateY(-5px); 
    } 

    100% { 
        -webkit-transform: translateY(0); 
    } 
} */


/*@-webkit-keyframes typing{
  from{
    width: 0;
  }
}
@-moz-keyframes typing{
  from{
    width: 0;
  }
}
@-ms-keyframes typing{
  from{
    width: 0;
  }
}
@-o-keyframes typing{
  from{
    width: 0;
  }
}
@keyframes typing{
  from{
    width: 0;
  }
}*/



/*@-webkit-keyframes swingingArrow{
  0% {
    -webkit-transform: translateX(-2px);
  }

  100% {
    -webkit-transform: translateX(2px);
  }
}
@-moz-keyframes swingingArrow{
  0% {
    -webkit-transform: translateX(-2px);
  }

  100% {
    -webkit-transform: translateX(2px);
  }
}
@-ms-keyframes swingingArrow{
  0% {
    -webkit-transform: translateX(-2px);
  }

  100% {
    -webkit-transform: translateX(2px);
  }
}
@-o-keyframes swingingArrow{
  0% {
    -webkit-transform: translateX(-2px);
  }

  100% {
    -webkit-transform: translateX(2px);
  }
}
@keyframes swingingArrow{
  0% {
    -webkit-transform: translateX(-2px);
  }

  100% {
    -webkit-transform: translateX(2px);
  }
}*/




/* Transition classes and properties */


/*.block-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*gets triggered through js*/
/*.block-main > section.block-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/

/*.block-main > section.block-expand-top {
  z-index: 100;
}


.block-main > section:nth-child(2).block-expand {
  background: #4F5C5B;
  background-color: #657574;*/
    /*grey*/
   
/*}
.block-main > section:nth-child(3).block-expand {
 background: #3BBC95;*/
   /*turk*/
/*}
.block-main > section:nth-child(4).block-expand {
 background: #DB7D55;*/
   /*green*/
/*}*/

/*not: take all apart from the one with block expand and make them half the size*/
.block-main.block-expand-item > section:not(.block-expand),
.block-main.block-expand-item > section.block-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.block-on-top {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

section.block-expand .block-on-top {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.block-on-top h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



.no-touch section:not(.block-expand) .block-on-top:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.block-content,
.block-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}
section.block-expand .block-content,
section.block-expand .block-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}



/*Media queries*/



/*@media screen and (max-width: 68.75em) {
  .first-block,
  .block-content,
  .block-on-top {
    font-size: 90%;
  }
}

@media screen and (max-width: 46.5em) {
  .first-block,
  .block-content,
  .block-on-top {
    font-size: 75%;
  }

  .block-expand .block-on-top {
    height: 130px;
  }*/

/*  .block-content > ul li {
    width: 40%;
  }
*/
  /*.block-work-items > li {*/
/*    margin: 40px 0 0 0;
    width: 45%;
  }



   .contact-items > li {
    margin: 5% 0 0 0 ;
    width: 45%;
  }


  @media screen and (max-width: 30em) {
    .first-block {
      font-size: 40%;
    }

    .block-work-items > li{
      margin: 30px 0 0 0 ;
      width: 100%;
    }

     .contact-items > li {
      margin: 5% 0 0 0 ;
      width: 100%;
    }

    .nina_pic{
      height: 220px;
      width: 220px;
    }

}*/



