@font-face {
 font-family: 'icomoon';
 src:url('../fonts/icomoon.eot');
 src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
 url('../fonts/icomoon.woff') format('woff'),
 url('../fonts/icomoon.ttf') format('truetype'),
 url('../fonts/icomoon.svg#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}



body, html { 
  font-size: 100%; 
  padding: 0; 
  margin: 0; 
  height: 100%;
  position: relative;
}

/*border-box forces the padding and borders into the width and height instead of expanding it. *=universal selectors*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "letter-gothic-std",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #f2ede3; 
  /*offwhite*/
  background: #333;
  line-height: 1.5;
  letter-spacing: 1px;
}

.first-block h1{
  font-size: 4em;
  margin: 0;
}

a {
  color: #f2ede3; 
  /*offwhite*/
  text-decoration: none;
}

.ext-link{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
}

a:hover {
  color: #fff;
}

.container { 
  height: 100%; 
}

.block-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/*> child combinator, only selects the direct children, all of them position absoulute and half widht and height*/
.block-main > section {
  position: absolute;
  width: 50%;
  height: 50%;
}

.block-main > section:first-child {
  top: 0;
  left: 0;

  background: #C4C16B;
  /*yellow*/
}

.block-main > section:nth-child(2) {
  top: 0;
  left: 50%;
 background: #4F5C5B;
 /*grey*/
}

.block-main > section:nth-child(3) {
  top: 50%;
  left: 0;
  background: #3BBC95;
  /*blue*/
}

.block-main > section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: #DB7D55;
  /*orange*/
}

.first-block {
	text-align: center;
	margin: 0;
	width: 100%;
	letter-spacing: 2px;
  position: relative;
  width: 100%;
  height: 100%;

  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  /*The flex items will wrap onto additional flex lines if there isn’t enough room for them on the first flex line.*/
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;
  -moz-box-pack: center;

  /*aligns flex items along the main axis of the current line of the flex container*/
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  /*aligns flex items along the cross axis of the current line of the flex container*/

  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bounce-in{
  -webkit-animation: bounceInDown 0.8s both cubic-bezier(.63,.09,.75,.46) 0.5s; 
  animation-duration: bounceInDown 0.8s both cubic-bezier(.63,.09,.75,.46)0.5s; 
}


.block-on-top {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  /*makes the mouse cursor look like a pointer.*/
  cursor: pointer;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  /*The flex items will wrap onto additional flex lines if there isn’t enough room for them on the first flex line.*/
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;



  /*aligns flex items along the main axis of the current line of the flex container*/
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  /*aligns flex items along the cross axis of the current line of the flex container, here row and therefore y axis*/

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}



/*stuff on top header and icons*/
.block-on-top h2 {
  text-align: center;
  padding: 20px;
  width: 100%;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8em;
}



.block-icon {
  text-align: center;
  speak: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.block-icon:before {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}

.block-icon-projects:before {
  content: "\e001";
  font-family: 'icomoon';
  speak: none;
}

.block-icon-about:before {
  content: "\e03F";
  font-family: 'icomoon';
  speak: none;
}

.block-icon-contact:before {
 content: "\e028";
 font-family: 'icomoon';
 speak: none;
}



/*closing x */
.block-main > section .block-icon-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: swingingArrow alternate-reverse ease-in-out 0.5s infinite both;
}

/* Block Content */

.block-icon-close:before {
  content: "╳";
}

.block-content{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;

 }




.block-content h1 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 2px solid #f2ede3;
  padding-bottom: 10px;
  margin: 10px 0 40px 0;
  font-size: 2.5em;
}

.block-content h4 {
  line-height: 1.8;
}



/*projects*/

.block-content > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 5% 0;

} 

.block-work-items{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}


.block-work-items > li {
  margin: 5% 0 0 0 ;
  max-width: 30%;
}

.block-work-items h3{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
}

.block-work-items > ul li img a {
  font-size: 1.1em;
  padding: 5%;
}


.block-content .img_portfolio {
  max-width: 100%;
  -webkit-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  filter: grayscale(60%);

}

.block-content > ul li img:hover {
  -webkit-filter: none;
  -o-filter: none;
  filter: none;
  }


.text-work{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  letter-spacing: 1.7;
  text-align: center;
}

/*profile page*/

.nina_pic{
  background: url("../images/nina_ga.jpg") no-repeat center center;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.nina_pic:hover{
background: url("../images/nina_ga_silly.jpg") no-repeat center center;
border-radius: 0;
-webkit-transition: border-radius 0.1s ease-in-out;
}


/*contact page*/
.contact-items{
  text-align: center;
}


.icon-contact:before{
  font-family: Flaticon;
  font-style: normal;
  display: block;
  text-align: center;
 font-size: 6em;
  font-weight: 100;

}
.icon-email:before {
    content: "\e000";
 
}

.icon-twitter:before {
    content: "\e005";
}



.icon-linkedin:before {
   content: "\e004";
}


.icon-github:before {
    content: "\e003";

}


@media screen and (max-width: 46.5em) {
  .first-block,
  .block-content,
  .block-on-top {
    font-size: 75%;
  }

  .block-expand .block-on-top {
    height: 130px;
  }

/*  .block-content > ul li {
    width: 40%;
  }
*/
  .block-work-items > li {
    margin: 5% 0 0 0 ;
    max-width: 45%;
  }

   .contact-items > li {
    margin: 5% 0 0 0 ;
    max-width: 45%;
  }


  @media screen and (max-width: 30em) {
    .first-block {
      font-size: 40%;
    }

    .block-work-items > li {
      margin: 5% 0 0 0 ;
      min-width: 100%;
    }

     .contact-items > li {
      margin: 5% 0 0 0 ;
      min-width: 100%;
    }

    .nina_pic{
      height: 220px;
      width: 220px;
    }

