/*Media queries*/


@media screen and (max-width: 68.75em) {
  .first-block,
  .block-content,
  .block-on-top {
    font-size: 90%;
  }
}

@media screen and (max-width: 46.5em) {
  .first-block,
  .block-content,
  .block-on-top {
    font-size: 75%;
  }

  .block-expand .block-on-top {
    height: 130px;
  }

  .block-work-items > li {
    margin: 40px 0 0 0;
    width: 45%;
  }

   .contact-items > li {
    margin: 5% 0 0 0 ;
    width: 45%;
  }
}


@media screen and (max-width: 30em) {
  .first-block {
    font-size: 40%;
  }

  .block-work-items > li {
    margin: 30px 0 0 0 ;
    width: 100%;
  }

   .contact-items > li {
    margin: 5% 0 0 0 ;
    width: 100%;
  }

  .nina_pic {
    height: 220px;
    width: 220px;
  }
}




