<footer class="site-footer">

  <div class="site-footer--description">
    <p>{{ site.title }}</p>

    <p>{{ site.description }}</p>
  </div>

  <ul class="site-footer--contacts">
    <li class="site-footer-contact">
      {% include icon-mail.html %}
    </li>

   {% if site.github_username %}
    <li class="site-footer-contact">
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %} 

    {% if site.twitter_username %}
    <li class="site-footer-contact">
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li class="site-footer-contact">
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul> 


</footer>
