<header class="site-header" role="header">

    {% include top-nav.html %}

    <div class="site-header--language">
      <a  href="#">Lieber in Deutsch?</a>
    </div>

    <div class="site-header--content">
      <h1 class="site-header--title">
        <a href="{{ site.baseurl }}/">Hi, I'm Nina</a>
      </h1>

      <h2 class="site-header--subtitle animation__typing animation__line-fade-in"> a freelance front-end developer</h2>
      <!-- <h2 class="site-header--subtitle animation__typing"> a wanna be sailor</h2> -->
    </div>

</header>
