<header class="site-header" role="header">

    {% include top-nav.html %}

    <!-- <div class="site-header__language">
      <a  href="#">Lieber in Deutsch?</a>
    </div> -->

    <div class="site-header__content">
      {% include triangle.svg %}
      <h1 class="site-header__title">Hi I'm Nina</h1>

      <div class="site-header__subtitle-wrapper">
        <span class="site-header__subtitle animation__rotating"> a freelance developer</span>
        <span class="site-header__subtitle animation__rotating"> a web designer</span>
        <span class="site-header__subtitle animation__rotating"> a wanna be sailor</span>
      </div>

    </div>


</header>
