<header class="site-header" role="header">

    <div class="site-header__wrapper">

      {% include top-nav.html %}

      <!-- <div class="site-header__language">
        <a  href="#">Lieber in Deutsch?</a>
      </div> -->

      <div class="site-header__content">
        <span class="animation__triangle">
          {% include triangle.svg %}
        </span>

        <h1 class="site-header__title">Hi I'm Nina</h1>

        <div class="site-header__subtitle-wrapper">
          <span class="site-header__subtitle animation__rotating"> a freelance developer</span>
          <span class="site-header__subtitle animation__rotating"> a web designer</span>
          <span class="site-header__subtitle animation__rotating"> a wanna be sailor</span>
        </div>

      </div>

    </div>


</header>
