<nav class="top-nav">
  <ul class="top-nav__list">
    <li class="top-nav__items">
      <a href="#work" class="top-nav__link" id="anchor-work">
        <span class="top-nav__triangle">{% include vertical-triangle.svg %}</span>
        <span class="top-nav__text">work</span>
      </a>
    </li>
    <li class="top-nav__items">
      <a href="#about-me" class="top-nav__link" id="anchor-about-me">
        <span class="top-nav__triangle">{% include vertical-triangle.svg %}</span>
        <span class="top-nav__text">about me</span>
      </a>
    </li>
    <li class="top-nav__items">
      <a href="#contact" class="top-nav__link" id="anchor-contact">
        <span class="top-nav__triangle">{% include vertical-triangle.svg %}</span>
        <span class="top-nav__text">contact</span>
      </a>
    </li>
  </ul>
</nav>
