.about-me {
  position: relative;
  height: 650px;
  width: 100%;
  background-color: $yellow; 

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $yellow;
    transform-origin: bottom right;
    transform: skewY(-3deg);
  }

  &--title {
    background-color: $turquois;
  }


  &--copy {
    @include span-columns(7 of 10);
  }

  &--pic {
    @include span-columns(3 of 10);
  }
}