.about-me {
  background-color: $yellow;
  position: relative;
  z-index: 1;

  &--title {
    background-color: $turquois;
    top: 20px;
  }


  &--copy {
    @include span-columns(7 of 10);
  }

  &--pic {
    @include span-columns(3 of 10);
  }
}