.about-me {
  background-color: $yellow;
  color: $dark-yellow;
  padding-top: $xxlarge-spacing;
  padding-bottom: $xxxlarge-spacing;
  z-index: 1;

  a {
    color: $dark-yellow;
  }

  &__pic {
    background: url(../images/nina_sprite.jpg);
    background-position: 0 0;
    background-size: 200%;
    width: 75px;
    height: 102px;
    float: right;
    margin-left: 4%;
    opacity: 0.85;

    @include media($small-screen) {
      width: 150px;
      height: 204px;
    }

    @include media($medium-screen) {
      width: 300px;
      height: 409px;
    }

    &:hover, 
    &:focus {
      background-position: 100% 0;
    }
  }

  &__title {
    background-color: $dark-yellow;
  }

  &__copy {
    float: right;
    text-align: right;
  }
}