.contact {
  padding-bottom: $xxxlarge-spacing;
  background-color: $turquois; 
  z-index: 1;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $turquois;
    transform-origin: top right;
    transform: skewY(3deg);
  }

  &__title {
    background-color: $dark-turquois;
  }

  &__header {
    @include span-columns(10 of 10);
    color: $offwhite;
    margin-top: $base-spacing;
    text-align: center;
    font-size: modular-scale(4);

    @include media($medium-screen) {
      @include span-columns(4 of 10);
    }
  }

  .form {
    @include span-columns(10 of 10);
    
    > div {
      margin-top: $medium-spacing;
    }

    @include media($medium-screen) {
      @include span-columns(5 of 10);
      @include shift(1);  
      
      > div:not(:first-child) {
        margin-top: $medium-spacing;
      }
    }

    &__item {
      position: relative;
    }

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 20px;
      color: $dark-turquois;
    }

    &__input {
      width: 100%;
      background: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 9px 20px;
      outline: 0;
      border: 3px $dark-turquois solid;
      border-radius: 0;
      transition: 0.2s ease-out;
      color: $offwhite;

      &:focus + .form__label {
        top: -25px;
        font-size: 95%;
        padding-left: 0;

        @include media($medium-screen) {
          top: -32px;  
        }
      }

      &:valid {
        background: $turquois;
        + .form__label {
          top: -25px;
          font-size: 95%;
          padding-left: 0;   

          @include media($medium-screen) {
            top: -32px;  
          }
        }
      }
    }
  
    &__submit {
      padding: $base-spacing;
      margin-top: $medium-spacing;
      width: 100%;
      background-color: $dark-turquois;
      border: none;
      border-radius: 0;
      color: $offwhite;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      transition: background-color 0.5s ease-out;
      &:hover {
        background-color: $offwhite;
        color: $dark-turquois;
      }
    }
  }
}
