.contact {
  position: relative;
  width: 100%;
  padding-bottom: $xxxlarge-spacing;
  background-color: $turquois; 
  position: relative;
  z-index: 1;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $turquois;
    transform-origin: top right;
    transform: skewY(3deg);
  }


  &__title {
    background-color: $grey;
    transform: rotate(-90deg) translateX(-100%);
  }

  &__header {
    @include span-columns(4);
    color: $orange;
    text-align: center;
  }

  .form {
    @include span-columns(6);

    > div:not(:first-child) {
      margin-top: $medium-spacing;
    }

    &__item {
      position: relative;
    }

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 8px 12px;
      color: $dark-blue;
    }

    &__input {
      width: 100%;
      background: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 8px 12px;
      outline: 0;
      border: 3px $dark-blue solid;
      transition: 0.2s ease-out;
      color: $offwhite;

      &:focus + .form__label {
        top: -25px;
        font-size: 80%;
        padding-left: 0;
      }

      &:valid {
        background: $turquois;

        + .form__label {
          top: -25px;
          font-size: 80%;
          padding-left: 0;   
        }
      }
    }
  
    &__submit {
      padding: $base-spacing;
      margin-top: $base-spacing;
      background-color: $dark-blue;
      color: $offwhite;
      border: none;
      width: 100%;
      transition: background-color 0.5s ease-out;
      &:hover {
        background-color: $orange;
      }
    }
  }

}