.contact {
  background-color: $turquois; 
}


.section {
  &--container {
    @include outer-container; 
    padding: $xxlarge-spacing 0; 
    position: relative;
  } 

  &--content {
    @include span-columns(10);
    @include shift(2);
  }

  &--title {
    display: inline-block;
    color: $offwhite;
    padding: $xsmall-spacing $small-spacing;
  }
}

