.contact {
  background-color: $turquois; 
}


.section {
  &--container {
    @include outer-container; 
    padding: $xxlarge-spacing 0; 
    position: relative;
  } 

  &--title {
    position: absolute;
    top: 45%;
  }

  &--content {
    @include span-columns(10);
    @include shift(1);
  }
}

