.site-header {
  position: relative;
  height: 80vh;
  width: 100%;
  background: $turquois;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: $turquois;
    transform-origin: bottom right;
    transform: skewY(-5deg);
  }

  &--language {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 150px;
    padding: $xsmall-spacing $small-spacing;
    z-index: 3;
    text-align: center;
    font-family: $secondary-font;
    background-color: $yellow;
    a {
      color: $offwhite;  
    }
  }



  &--content {
    @include outer-container;
    position: relative;
    z-index: 3;
    padding-top: $large-spacing;
    padding-bottom: $xlarge-spacing;
  }

  &--title a{
    display: block;
    margin-top: 150px;
    margin-top: 10vh;
    text-align: center;
    color: $dark-blue;
  }

  &__subtitle-wrapper {
    margin: 0 auto;
    position: relative;
    width: 600px;
  }

  &__subtitle {
    color: $orange;
    position: absolute;
    left: 30%;
    top: $small-spacing;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: modular-scale(2);

    &:after {
      content: '';
      position: absolute;
      width: 250px;
      height: 2px;
      left: 40px;
      bottom: 0px;
      background-color: $dark-blue;
      animation: line-fade-in 21s linear infinite;
    }
  }

  span:nth-child(2) {
    animation-delay: 7s;
    &:after {
      animation-delay: 9s;
    }
  }
  span:nth-child(3) {
    animation-delay: 14s;
    &:after {
      animation-delay: 16s;
    }
  }
}

