.site-header {
  position: relative;
  height: 80vh;
  width: 100%;
  background: $turquois;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: $turquois;
    transform-origin: bottom right;
    transform: skewY(-5deg);
  }

  &--language {
    position: relative;
    display: inline-block;
    width: 100px;
    padding: $xsmall-spacing $small-spacing;
    z-index: 3;
    text-align: center;
    font-weight: 700;
    background-color: $yellow;
  }



  &--content {
    @include outer-container;
    position: relative;
    z-index: 3;
    padding-top: $large-spacing;
    padding-bottom: $xlarge-spacing;
  }

  &--title a{
    display: block;
    margin-top: 150px;
    margin-top: 10vh;
    text-align: center;
    color: $dark-blue;
  }

<<<<<<< HEAD
  &__subtitle {
    position: absolute; 
    left: -50%;
    color: $orange;
    opacity: 0;

  

    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 90%;
    //   height: 2px;
    //   left: 10%;
    //   bottom: 0;
    //   background-color: $dark-blue;
    //   animation: line-fade-in 3s linear 1s;
    // }
  }

=======
  &--subtitle {
    margin: 0 auto;
    color: $orange;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 2px;
      left: 10%;
      bottom: 0;
      background-color: $dark-blue;
      animation: line-fade-in 0.5s linear 1.3s;
    }
  }
>>>>>>> parent of dcbadc0... feat(header): replacing subtitle with css animation
}

