.site-header {
  position: relative;
  width: 100%;
  background: $turquois;
  min-height: 55vh;

  @include media($small-screen) {
    min-height: 60vh;
  }

  @include media($large-screen) {
    min-height: 90vh;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: $turquois;
    transform-origin: bottom right;
    transform: skewY(-5deg);
  }

  &__wrapper {
    @include outer-container(90%);
    @include display(flex);
    @include flex-direction(column);

    @include media($large-screen) {
      @include outer-container();
    }
  }

  &__language {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 60px;
    padding: $xsmall-spacing $small-spacing;
    z-index: 3;
    text-align: center;
    font-family: $secondary-font;
    font-size: modular-scale(-1);
    background-color: $offwhite;

    @include media($medium-screen) {
      width: 105px;
    }

    a {
      color: $dark-grey;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    @include align-self(center);
    margin-top: 20vh;

    @include media($large-screen) {
      margin-top: 30vh;
    }

    svg {
      position: absolute;
      height: auto;
      width: 100px;
      left: -10%;
      top: -10%;

      @include media($medium-screen) {
        width: 150px;
        left: -15%;
        top: -15%;
      }

      @include media($large-screen) {
        width: 220px;
        left: -20%;
        top: -20%;
      }
    }
  }

  &__title {
    position: relative;
    text-align: center;
    color: $offwhite;
  }

  &__subtitle-wrapper {
    margin: 0 auto;
    position: relative;
    width: 90%;
    font-family: $secondary-font;
  }

  &__subtitle {
    color: $dark-turquois;
    position: absolute;
    left: 10%;
    top: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    padding-bottom: $medium-spacing;
    font-size: modular-scale(2);

    @include media($small-screen) {
      left: 25%;
    }

    @include media($medium-screen) {
      left: 40%;
    }
  }

  span:nth-child(2) {
    animation-delay: 7s;
    &:after {
      animation-delay: 7s;
    }
  }
  span:nth-child(3) {
    animation-delay: 14s;
    &:after {
      animation-delay: 14s;
    }
  }
}
