.site-footer {
  @include outer-container;
  padding: $large-spacing 0;
  position: relative;
  z-index: 5;
  background-color: $dark-grey;



  &--description {
    @include span-columns(9);
    color: $offwhite;

  }

  &--contacts {
    @include span-columns(2);
    @include shift(1);
    list-style-type: none;
    padding: 0;

    a {
      color: $offwhite;  
    }
  }


  .icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

