.work {
  padding-top: $xxlarge-spacing;
  padding-bottom: $xxlarge-spacing;
  background-color: $grey;

  &__title {
    background-color: $dark-grey;
  }

  &__item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: box-shadow 0.2s;
    font-size: 0.8rem;

    @include media($large-screen) {
      font-size: 1rem;
    }
    
    &:hover {
      box-shadow: inset 0 0 0 5px $offwhite;
    }

    &:hover .work__img {
      opacity: 0.2;
      transform: translate3d(0,0,0);
    }
    
    &:hover .work__title-item {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &:hover .work__title-item:after {
      transform: translate3d(0,0,0);
    }

    &:hover .work__text-item {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

  &__img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.99;
    max-width: none;
    width: calc(100% + 10px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-5px,0,0);
    backface-visibility: hidden;
  }   

  &__caption {
    padding: $base-spacing;
    color: $offwhite;  
    backface-visibility: hidden;
    text-align: left;

    @include media($large-screen) {
      padding: $medium-spacing;
    }

    &:before, 
    &:after {
      pointer-events: none;
    }
  }

  &__title-item {
    margin: 0;
    position: relative;
    padding-bottom: $xxsmall-spacing; 
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-100%,0,0);

    @include media($large-screen) {
      padding: $xsmall-spacing 0;  
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $offwhite;
      transition: transform 0.55s;
      transform: translate3d(-100%,0,0);
    }
  }

  &__text-item {
    font-size: $small-spacing;
    margin: 0;
    padding-top: $base-spacing;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(100%,0,0);
  }
}

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
  margin-top: modular-scale(3);

  @include media($small-screen) {
    &:nth-child(even) {
      @include span-columns(5 of 10);
    }
    &:nth-child(odd) {
      @include span-columns(5 of 10);
      @include omega;  
    }
    &:first-child {
      @include span-columns(7 of 10);
      @include shift(3 of 10);
      margin-top: 0;
    }
  }
}





