---
---


@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;


@import "../bower_components/neat/app/assets/stylesheets/neat";

@import   "base/grid-settings";
@import   "base/variables";
@import   "base/mixins";
@import   "base/typographie";
@import   "base/syntax-highlighting";
@import   "base/animations";

@import   "utility/vertical-text";

@import   "partials/main";
@import   "partials/site-header";
@import   "partials/site-footer";
@import   "partials/top-nav";
@import   "partials/work";
@import   "partials/about-me";
@import   "partials/contact";
