@keyframes typing{
  from {
    width: 0;
  }
}

@keyframes blink-caret { 
  50% { 
    border-color: transparent; 
  } 
}

@keyframes line-fade-in {
  width: 0;
}

.animation {
  &__typing {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
    width: 410px;
    border-right: 0.08em solid $orange;
    animation: typing 2s steps(31, end) 1.3s both, blink-caret .7s step-end infinite alternate;  
  }
}
