@keyframes line-fade-in {
  0% { 
    opacity: 1; 
    animation-timing-function: ease-out; 
    width: 0px; 
    }
  10% { 
    opacity: 1; 
    width: 100px; 
    }
  30% { 
    opacity: 1; 
    width: 100px; 
    }
  45% { 
    opacity: 0; 
    width: 100px; 
    }
  100% { 
    opacity: 0; 
    }
}


@keyframes rotateWords {
  0% { 
    opacity: 1; 
    animation-timing-function: ease-in; 
    width: 0px; 
  }
  10% { 
    opacity: 1; 
    width: 0px; 
  }
  30% { 
    opacity: 1; 
    width: 100%; 
  }
  45% { 
    opacity: 0; 
    width: 100%; 
  }
  100% { 
    opacity: 0; 
  }
}

.animation {

  &__rotating {
    animation: rotateWords 21s linear infinite;  
  }
  
}
