@keyframes typing{
  from {
    width: 0;
  }
}

@keyframes blink-caret { 
  50% { 
    border-color: transparent; 
  } 
}

.animation {
 
  &__typing {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
    width: 303px;
    border-right: 0.06em solid $main-font-color;
    animation: typing 3.5s steps(13, end) 1.3s both, blink-caret .5s step-end infinite alternate;  
  }
 
}
