body {
  color: $main-font-color;
  font-family: $base-font;
  font-size: $base-font-size-small;

  @include media($small-screen) {
    font-size: $base-font-size-normal;
  }

  @include media($large-screen) {
    font-size: $base-font-size-large;
  }
}

h1,
h2 {
  font-style: normal;
  font-family: $base-font;
  letter-spacing: 0.1px;
  margin: 0;

  @include media($medium-screen) {
    letter-spacing: 5px;
  }
}

h1 {
  font-size: $xlarge-font-size;
  font-weight: 700;
}

h2 {
  font-size: $large-font-size;
  font-weight: 500;
}

h3 {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: $medium-font-size;
  letter-spacing: 2px;
  margin-top: 0;
}

h4 {
  line-height: 1.8;
  font-size: $base-font-size;
}

p {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

a {
  color: $main-font-color;
  text-decoration: none;
  &:hover {
    color: $offwhite;
  }
}

.external-link {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
  margin-top: 1%;
  display: block;
}

.icon {
  display: inline-block;
}
