body {
  color: $main-font-color; 
  font-family: $base-font;
}

h1, 
h2 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 4em;
  letter-spacing: 0.2px;
  margin: 0;
}

h1 {
  font-size: 4.209em
}

h2 {
  font-size: 2.369em
}

h3 {
  text-transform: uppercase;
  font-size: 1.333em;
  letter-spacing: 2px;
  text-align: center;
}

h4 {
  line-height: 1.8;
  font-size: 1em;
}

p {
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  color: $main-font-color; 
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.external-link {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
  margin-top: 1%;
  display: block;
}