// Fonts
$base-font: "futura-pt", sans-serif;
$secondary-font: "letter-gothic-std", sans-serif;

// Colors
$offwhite: #f2ede3;
$white: #fff;

$yellow: #C4BA78;
$grey: #4F5C5B;
$turquois: #5ABCA4;
$orange: #DB7346;

$dark-blue: #253254;

$main-font-color: $dark-blue;


$modular-scale-base: 1.1em;

//sizes - using the perfect fourth
$xsmall-spacing: modular-scale(-2);
$small-spacing: modular-scale(-1);
$base-spacing: $modular-scale-base;
$medium-spacing: modular-scale(2);
$large-spacing: modular-scale(3);
$xlarge-spacing: modular-scale(4);
$xxlarge-spacing: modular-scale(5);

$base-font-size: 1.1em;

// Media Screen breakpoints
$big-screen: 68.75em;
$medium-screen: 46.5em;
$small-screen: 30em;