// Fonts
$base-font: "futura-pt", sans-serif;
$secondary-font: "letter-gothic-std", sans-serif;

// Colors
$offwhite: #E8E1D3;

$yellow: #C4C16B;
$dark-yellow: #76742f;

$grey: #5F6968;  
$dark-grey: #353B3A;

$turquois: #3BBC95;
$dark-turquois: #236e57;


$main-font-color: $dark-grey;

$modular-scale-base: 1.1em;

//sizes - using the perfect fourth
$xxsmall-spacing: modular-scale(-3);
$xsmall-spacing: modular-scale(-2);
$small-spacing: modular-scale(-1);
$base-spacing: $modular-scale-base;
$medium-spacing: modular-scale(2);
$large-spacing: modular-scale(3);
$xlarge-spacing: modular-scale(4);
$xxlarge-spacing: modular-scale(5);
$xxxlarge-spacing: modular-scale(8);

$base-font-size: 1.1em;

// Media Screen breakpoints
$big-screen: 68.75em;
$medium-screen: 46.5em;
$small-screen: 30em;